.btn {
	border: $red solid 2px;
	border-radius: 13px;
	font-family: $font-main;
	padding: 0 15px;
	color: $red;
    display: inline-flex;
	background: transparent;
	transition: all .3s ease;
	align-items: center;
	justify-content: center;
	cursor: pointer;

	&:hover,
	&:focus {
		outline: none;
		color: white;
		background: $red;
	}

	&_fill {
		display: inline-block;
		border-radius: 9px;
		background: $red;
		color: #fff;
		font-weight: 500;
		padding: 10px 25px;
		font-size: 20px;
		margin: 0 auto 15px;
		box-shadow: 0 0 8px rgba(0, 0, 0, 0.23);

		@include screen-xs(){
			padding: 7px 17px;
			font-size: 16px;
		}

		&:hover,
		&:focus {
			background: $color-main;
			border-color: $color-main;
		}
	}
}