.competence {

	&__title {
		font-size: 18px;
		font-weight: 500;
		margin-bottom: 15px;

		@include screen-xs() {
			text-align: center;
		}
	}

	&__img {
		margin: 0 0 30px;
		max-width: 75%;
		display: block;

		@include screen-md() {
			display: inline-block;
			max-width: none;
			height: 70px;
			margin: 0 10px 10px 0;
		}

		@include screen-xs() {
			height: auto;
			display: block;
			width: 100%;
			margin: 0 auto 10px;
		}

		&_half-1 {

			@include screen-xs() {
				float: left;
				padding-right: 10px;
				width: 47.2%;
			}
		}

		&_half-2 {

			@include screen-xs() {
				float: left;
				width: 52.8%;
			}
		}
	}
}