.competence {
	overflow: auto;
	position: relative;

	&__title {
		font-size: 18px;
		font-weight: 500;
		margin: 0 0 10px;

		@include screen-xs() {
			text-align: center;
		}
	}

	&__link {
		margin: 0 0 10px;
		max-width: 75%;
		display: block;

		@include screen-md() {
			display: inline-block;
			max-width: none;
			height: 70px;
			margin: 0 10px 10px 0;
		}

		@include screen-xs() {
			float: left;
			height: auto;
			display: block;
			width: 100%;
			margin: 0 auto 3%;
		}

		&:nth-last-child(3) {

			@include screen-md(min) {
				margin-bottom: 0;
			}
		}

		&_half-1 {

			@include screen-xs() {
				margin-right: 3%;
				width: 44.2%;
			}
		}

		&_half-2 {

			@include screen-xs() {
				width: 52.8%;
			}
		}

		&_half-3 {

			@include screen-xs() {
				width: 48%;
				margin-right: 3%;
			}
		}

		&_half-4 {

			@include screen-xs() {
				width: 49%;
			}
		}
	}

	&__img {
		max-width: 100%;
		max-height: 100%;
	}

	&.ps {

		.ps__scrollbar-y-rail {
			opacity: .6;

			> .ps__scrollbar-y {
				width: 2px;
				transition: $duration / 2 linear;
			}

			&:hover,
			&:active {

				> .ps__scrollbar-y {
					width: 2px;
				}
			}
		}

		&:hover {

			> .ps__scrollbar-y-rail {
				width: 0;
				pointer-events: none;
			}
		}
	}
}