.first-page {
	text-align: center;
	font-family: $font-days;
	padding: 1.8% 0;
	//height: 70vh;

	&:focus {
		outline: none;
	}

	@include screen-xl() {
		padding: 1% 0;
	}
	@include screen-sm() {
		padding-top: 4%;
	}
	@include screen-xs() {
		//padding-top: 40%;
	}
	.small-line {
		font-size: 19px;
		transform: scaleY(1.2);

		@include screen-xs() {
			font-size: 16px;
		}

	}
	.logo-container {
		max-width: 60%;
		margin: 0px auto;
		margin-bottom: 25px;
		opacity: 0;
		transform: scale(0.1);
		transition: all 1s ease;

		@include screen-xl() {
			max-width: 40%;
		}
		@include screen-sm() {
			max-width: 80%;
		}
		@include screen-xs() {
			margin: 15px auto;
		}

		.brace-left, .brace-right {
			width: 14%;
			display: inline-block;
			opacity: 0;
			transition: opacity .2s ease, transform .6s ease;

			@include screen-xl() {
				width: 13%;
			}
			@include screen-sm() {
				width: 38px;
			}

			@include screen-xs() {
				width: 30px;
			}
		}

		.brace-left {
			transform: translateX(-60px);
		}
		.brace-right {
			transform: translateX(60px);
		}
		.logo-web, .logo-center {
			transform: scaleY(1.2);
		}
		.logo-web {
			display: inline-block;
			font-size: 200px;
			position: relative;
			top: -15px;

			@include screen-xl() {
				font-size: 120px;
				top: -10px;
			}
			@include screen-lg() {
				font-size: 85px;
			}
			@include screen-md() {
				font-size: 75px;
				top: -5px;
			}
			@include screen-sm() {
				top: -7px;
			}
			@include screen-xs() {
				font-size: 58px;
				top: -5px;
			}
		}
		.logo-center {
			color: $red;
			font-size: 105px;
			margin-top: -9%;
			opacity: 0;
			transform: translateX(150px);
			transition: all .7s ease;

			@include screen-xl() {
				font-size: 55px;
			}
			@include screen-lg() {
				font-size: 40px;
			}
			@include screen-md() {
				font-size: 35px;
			}
			@include screen-sm() {
				margin-top: -5%;
			}
			@include screen-xs() {
				font-size: 27px;
			}
		}
	}
}