.footer {
  height: 60px;
  @include screen-xl() {
    height: 45px;
  }

  &__company{
    @include screen-xs(){
      max-width: 160px;
    }
  }

  .container {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}