.footer {
  padding: 10px 0;

  &__company{
    font-weight: 500;
    width: 300px;

    @include screen-xs(){
      max-width: 160px;
    }
  }

  &__notice {
    font-size: 12px;
    text-align: right;
    width: 300px;

    @include screen-sm() {
      width: 100%;
      text-align: center;
      margin: 10px 0 0;
    }

    @include screen-xs() {
      font-size: 11px;
    }

    span {
      display: block;

      @include screen-sm() {
        display: inline;
      }
    }
  }

  .container {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    height: 100%;

    @include screen-xs() {
      align-items: center;
    }
  }
}