.grid {
	display: flex;
	flex-wrap: wrap;

	$cols: 12;
	@for $i from 1 through $cols {
		$result: percentage($i / $cols);

		&__#{$i} {
			width: $result;
		}

		&__xs-#{$i} {

			@include screen-xs(min) {
				width: $result;
			}
		}

		&__sm-#{$i} {

			@include screen-sm(min) {
				width: $result;
			}
		}

		&__md-#{$i} {

			@include screen-md(min) {
				width: $result;
			}
		}

		&__lg-#{$i} {

			@include screen-lg(min) {
				width: $result;
			}
		}

		&__xl-#{$i} {

			@include screen-xl(min) {
				width: $result;
			}
		}
	}

	&__offset-1{
		margin-left: 8.333333%;
	}

	&_neg {
		margin: 0 -15px;
	}

	&_cut{
		width: 83.33333%;
		margin: 0 auto;
	}


	&_md-between {

		@include screen-md(min) {
			justify-content: space-between;
		}
	}

	&_xs-center {

		@include screen-xs(min) {
			justify-content: center;
		}
	}

	&_sm-center {

		@include screen-sm(min) {
			justify-content: center;
		}
	}

	&_md-center {

		@include screen-md(min) {
			justify-content: center;
		}
	}

	&_xs-bottom {

		@include screen-xs(min) {
			align-items: flex-end;
		}
	}

	&_sm-bottom {

		@include screen-sm(min) {
			align-items: flex-end;
		}
	}

	&_md-bottom {

		@include screen-md(min) {
			align-items: flex-end;
		}
	}
}

[class^='grid__xs'],
[class^='grid__sm'],
[class^='grid__md'],
[class^='grid__lg'] {
	padding: 0 15px;
	width: 100%;
}



.grid_wp{
	padding: 0;
}