.grid {
	display: flex;
	flex-wrap: wrap;

	&__md-2 {

		@include screen-md(min) {
			width: 16.666666%;
		}
	}

	&__md-3 {

		@include screen-md(min) {
			width: 25%;
		}
	}

	&__md-4 {

		@include screen-md(min) {
			width: 33.333333%;
		}
	}

	&__md-5 {

		@include screen-md(min) {
			width: 41.666666%;
		}
	}

	&__lg-5 {

		@include screen-lg(min) {
			width: 41.666666%;
		}
	}

	&__sm-6 {

		@include screen-sm(min) {
			width: 50%;
		}
	}

	&__md-6 {

		@include screen-md(min) {
			width: 50%;
		}
	}
	&__md-7 {

		@include screen-md(min) {
			width: 58.333333%;
		}
	}

	&__md-8 {

		@include screen-md(min) {
			width: 66.666666%;
		}
	}

	&__offset-1{
		margin-left: 8.333333%;
	}

	&_neg {
		margin: 0 -15px;
	}


	&_md-between {

		@include screen-md(min) {
			justify-content: space-between;
		}
	}

	&_md-center {

		@include screen-md(min) {
			justify-content: center;
		}
	}
}

[class^='grid__xs'],
[class^='grid__sm'],
[class^='grid__md'],
[class^='grid__lg'] {
	padding: 0 15px;
	width: 100%;
}