
.header {
  font-family: $font-days;
  padding-top: 40px;
  height: 50px;
  z-index: 10;
  box-sizing: content-box;

  @include screen-xl() {
    padding-top: 10px;
  }

  &__btn {
    height: 30px;
    font-weight: 500;

    @include screen-sm() {
      display: none;
    }
  }

  &__menu-icon {
    margin-left: 30px;
  }

  &__right, &__left {
    align-items: center;
    display: inline-flex;
  }

  &__left {

  }

  &__img-link {
    display: inline-block;
  }

  &__img {
    display: block;
    height: 55px;
  }

  .container {
    position: relative;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}