.input {
	border: none;
	border-bottom: 1px solid rgba($color-main, .4);
	color: $color-main;
	font-family: $font-main;
	font-size: 1.6rem;
	height: 30px;
	padding: 5px 0;
	-webkit-appearance: none;
	border-radius: 0;
	opacity: 1;

	@include input-autofill($color-main);

	@include input-placeholder {
		color: $color-main;
		transition: $duration ease all;
	}

	&:focus {

		@include input-placeholder {
			text-indent: 20px;
		}
	}

	&_invalid {
		border-color: $red;
		color: $red;

		@include input-placeholder {
			color: $red;
		}
	}
}

textarea.input {
	height: 4.5em;
}