.main {
	position: relative;

	&__subtitle {
		font-size: 2.2rem;
		margin: .7em 0 .4em;
		font-weight: 500;

		@include screen-xl() {
			font-size: 2rem;
		}

		@include screen-xs() {
			font-size: 1.7rem;
		}
	}

	&__desc {
		font-weight: 300;
		font-size: 2rem;
		margin: .5em 0;

		@include screen-xl() {
			font-size: 1.8rem;
		}

		@include screen-xs() {
			font-size: 1.6rem;
		}

		&_strong {
			font-weight: 500;
			font-size: 2.4rem;
		}

		&_half {
			width: 50%;
			margin-left: auto;
			margin-right: auto;

			@include screen-md() {
				width: 70%;
			}

			@include screen-sm() {
				width: 100%;
			}
		}

		a {
			border-bottom: 1px solid transparent;
			transition: $duration ease;

			&:hover {
				border-bottom-color: inherit;
			}
		}
	}

	&__link {
		color: $red;
		font-weight: 600;
		border-bottom: 1px solid transparent;
		transition: $duration ease;

		&:hover,
		&:focus {
			border-bottom-color: $red;
		}
	}

	&__head-wrap {
		text-align: center;
		margin-bottom: 100px;

		@include screen-sm() {
			margin-bottom: 70px;
		}

		&_sm {
			margin-bottom: 60px;

			@include screen-sm() {
				margin-bottom: 40px;
			}
		}
	}

	&__price {
		margin-bottom: 25px;

		@include screen-md() {
			position: fixed;
			bottom: 0;
			right: 0;
			margin: 0;
			z-index: 1;
		}

		@include screen-xs() {
			left: 0;
			text-align: center;
		}

		&_fixed {
			position: fixed;
			top: auto;

			@include screen-md(min) {
				top: 15px;
				min-width: 6.7em;
			}
		}
	}

	&__total-wrap {
		font-size: 16px;
		margin-left: 9em;

		@include screen-md() {
			margin-bottom: 45px;
		}

		@include screen-sm() {
			margin-left: 0;
			text-align: center;
		}
	}

	&__total {
		display: inline-block;
		font-weight: bold;
		font-size: 24px;
		margin-right: 30px;

		@include screen-xs() {
			margin-right: 0;
			width: 100%;
		}

		&_or {
			margin: 0 30px 15px;

			@include screen-xs() {
				margin: 0 0 15px;
			}
		}
	}

	&__total-cost {
		font-weight: 500;
	}

	&__total-currency {
		font-weight: 500;
	}

	&__profit {
		margin-bottom: 20px;

		@include screen-sm() {
			margin-bottom: 40px;
		}
	}

	&__circle {
		width: 500px;
		height: 500px;
		position: absolute;
		top: 0;
		right: 15%;
		z-index: -1;

		@include screen-sm() {
			width: 320px;
			height: 320px;
			right: 25%;
			top: 90px;
		}

		@include screen-xs() {
			width: 270px;
			height: 270px;
			margin: 0 auto;
			top: 140px;
			left: 0;
			right: 0;
		}
	}

	&__title-circle {
		text-align: center;
		display: flex;
		flex-direction: column;
		justify-content: center;
		padding-bottom: 150px;
		margin: 0 auto -150px;
		width: 500px;
		height: 500px;

		@include screen-sm(){
			width: 320px;
			height: 320px;
			padding-bottom: 0;
			margin-bottom: 30px;
		}

		@include screen-xs() {
			width: 270px;
			height: 270px;
		}
	}

	&__int-circle {
		text-align: center;
		display: flex;
		flex-direction: column;
		justify-content: center;
		margin: -10px auto 70px;
		width: 500px;
		height: 500px;

		@include screen-sm(){
			width: 100%;
			height: 100%;
			border: none;
			margin: 0;
			flex-direction: row;
			flex-wrap: wrap;
		}

		@include screen-xs() {
			width: 100%;
			height: 100%;
		}

		&::before,
		&::after {

			@include screen-sm() {
				display: none;
			}
		}
	}

	&__int-offer {
		margin: 70px 0;

		@include screen-xl() {
			margin: 50px 0;
		}
	}

	&__video {

		@include screen-md() {
			margin-top: 15px;
			margin-bottom: 15px;
		}
	}

	&__m-1em {
		margin-top: 1em;
		margin-bottom: 1em;
	}

	&__mt-1em {
		margin-top: 1em;
	}

	&__space-bot {
		margin-bottom: 60px;
	}

	&__gray-desc {
		color: $color-gray;
		margin: 0 0 10px;
	}

	&__select-layout + .select__current {
		margin-bottom: 15px;
	}

	&__404-wrap {
		text-align: center;
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	&__404 {
		font-size: 15rem;
		font-family: $font-days;
		transform: scaleY(1.2);
		font-weight: 400;
		line-height: 1;
		margin: 80px 0;

		@include screen-sm() {
			font-size: 10rem;
			margin: 40px 0;
		}
	}

	&__discount {
		margin-bottom: 40px;
	}

	&__support-desc {
		position: relative;
		z-index: 1;
		color: $red;
		font-weight: 400;
		font-size: 19px;
	}

	&__image {
		width: 100%;
	}

	&__margin-bottom {
		margin-bottom: 30px;
	}

	&__mt-big {
		margin-top: 360px;
	}
}

.left {
	transition: transform .3s ease;
	transform: translateX(20px);
}
