.main {

  &__subtitle {
    font-size: 25px;
    margin: 20px 0;
    font-weight: 500;

    @include screen-xl() {
      margin: 15px 0;
      font-size: 23px;
    }

    @include screen-xs() {
      font-size: 20px;
    }
  }

  &__desc {
    font-weight: 300;
    font-size: 20px;
    margin: 25px 0;

    @include screen-xl() {
      font-size: 18px;
      margin: 15px 0;
    }

    @include screen-xs() {
      font-size: 16px;
    }
  }
}

.left {
  transition: transform .3s ease;
  transform: translateX(20px);
}

/*simple slide animation*/
//.slick-slide{
//  transition: all .6s ease-out;
//  opacity: 0;
//  transform: translateZ(1000px) scale(0.2);
//}
//.slick-active{
//  opacity: 1;
//  transform: translateZ(0) scale(1);
//}

@keyframes fade_from{
  0% {
    opacity: 0;
    transform: translateZ(-1500px) scale(0.3);
  }
  100% {
    opacity: 1;
    transform: translateZ(0) scale(1);
  }
}

@keyframes fade_to{
  0% {
    opacity: 1;
    transform: translateZ(0) scale(1);
  }
  100% {
    opacity: 0;
    transform: translateZ(1500px) scale(2);
  }
}