.page {
	text-align: center;
	padding: 1% 0;

	@include screen-xl() {
		padding: 15px 0;
	}

	&:focus {
		outline: none;
	}

	&__description {
		font-weight: 300;
		font-size: 23px;
		margin-bottom: 40px;

		@include screen-xl() {
			font-size: 20px;
			margin-bottom: 30px;
		}
		@include screen-xs() {
			font-size: 16px;
		}
	}

	&__profits {
		display: flex;
		justify-content: center;
		align-items: center;
		margin-bottom: 50px;

		@include screen-sm() {
			flex-wrap: wrap;
		}
	}

	&__profit {
		width: 20%;

		@include screen-sm() {
			width: 30%;
		}

		@include screen-xs() {
			width: 80%;
			margin-bottom: 20px;
		}
	}

	&__small-line {
		font-family: $font-days;
		font-size: 19px;
		transform: scaleY(1.2);

		@include screen-xs() {
			font-size: 16px;
		}
	}

	&__logo {
		max-width: 60%;
		margin: 0 auto 25px;

		@include screen-xl() {
			max-width: 40%;
		}

		@include screen-sm() {
			max-width: 80%;
		}

		@include screen-xs() {
			margin: 15px auto;
		}
	}

	&_first {
		padding: 1.8% 0;

		@include screen-xl() {
			padding: 1% 0;
		}

		@include screen-sm() {
			padding-top: 4%;
		}
	}
}
