.profit {
	text-align: center;


	&__img {
		width: 55px;
		height: 55px;
		margin: 10px auto;
		position: relative;
		border: 3px $red solid;
		border-radius: 50%;

		img {
			position: absolute;
			max-height: 40px;
			max-width: 40px;
			top: 5px;
			right: -17px;
		}

		&_bg{
			background: #fff;
		}
		&_xl{
			width: 70px;
			height: 70px;

			img {
				max-height: 65px;
				max-width: 65px;
				right: -25px;
				top: -15px;
			}
			&.profit__img_spot{

				&::before {
					top: -20px;
					right: -29px;
					width: 60px;
					height: 60px;
				}
			}
		}

		&_big {

			img {
				height: 60px;
				right: -25px;
				top: -15px;
			}

			&.profit__img_spot {
				&::before {
					right: 0px;
					width: 15px;
					height: 18px;
				}
			}
		}

		&_spot {

			&::before {
				content: '';
				position: absolute;
				top: 10px;
				right: 0px;
				width: 15px;
				height: 30px;

				background: white;
				border-radius: 50%;
				box-shadow: 0 0 5px 10px white;

			}
		}
	}

	&__name {
		font-weight: 500;
	}

	&__title {
		font-family: $font-days;
		text-transform: uppercase;
		font-weight: 500;
		transform: scaleY(1.2);
		font-size: 16px;
		margin: 0 0 30px;
	}

	&__list {
		margin-bottom: 15px;
	}

	&__list-item {
		list-style-type: none;
		font-weight: 300;
		font-size: 2rem;

		@include screen-xl() {
			font-size: 1.8rem;
		}

		@include screen-xs() {
			font-size: 1.6rem;
		}

		&::before {
			content: '- ';
		}

		&_sm{
			font-size: 1.4rem;

			@include screen-xl() {
				font-size: 1.8rem;
			}

			@include screen-xs() {
				font-size: 1.6rem;
			}
		}
		&_red{
			&::before {
				color: $red;
			}
		}
	}

	&__price {
		font-family: $font-days;
		font-weight: 500;
		transform: scaleY(1.2);
		margin: 0 0 30px 0;
	}

	&__cost {
		font-size: 24px;
	}

	&__currency {
		font-size: 20px;
	}
}