.share-wrap {
	margin: 50px 0 30px;
	font-weight: bold;
	display: flex;
	justify-content: space-between;
	align-items: center;

	@include screen-xs() {
		flex-wrap: wrap;
	}
}

.share {
	color: $red;

	@include screen-xs() {
		margin-top: 20px;
	}

	&__socials {
		display: inline-block;
		font-size: 0;
	}

	&__item {
		font-size: 18px;
		display: inline-block;
		padding: 5px;
		font-weight: bold;
		color: $color-main;
		cursor: pointer;
		transition: $duration ease;

		&:hover {
			color: $red;
		}
	}
}