.square-profit{
 	width: 130px;
	height: 130px;
	margin: 7.5px;
	border-radius: 4px;
	padding: 10px;
	border: solid 2px $color-main;
	font-size: 12px;
	font-weight: 300;
	display: inline-flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	transition: $duration / 2 ease;

	&:hover{
		cursor: pointer;
		color: $red;
	}
	&__img{
		font-family: "support";
		font-style: normal;
		font-weight: normal;
		speak: none;
		display: block;
		width: 1em;
		font-size: 40px;
		color: inherit;
		text-align: center;
	}
	&__descr{
		text-align: center;
		color: $color-main;
	}
	
	&.active{
		border: solid 2px $red;
		color: $red;
	}


}