.square-profit{
 	width: 130px;
	height: 130px;
	margin: 7.5px;
	border-radius: 4px;
	padding: 10px;
	border: solid 2px $color-main;
	font-size: 12px;
	font-weight: 300;
	display: inline-flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	transition: $duration / 2 ease;
	cursor: default;

	&:hover{
		color: $red;
	}

	&__img{
		font-family: $font-sup;
		font-style: normal;
		font-weight: normal;
		speak: none;
		display: block;
		width: 1em;
		font-size: 40px;
		color: inherit;
		text-align: center;
	}
	&__descr{
		text-align: center;
		color: $color-main;
	}

	&__svg {
		transition: $duration / 2 ease;
		fill: $color-main;
		width: 40px;
		height: 40px;
	}
	
	&.active{
		border: solid 2px $red;
		color: $red;

		.square-profit__svg {
			fill: $red;
		}
	}


}