.support-contacts {
	padding-bottom: 65px;

	&__left-title {
		margin-bottom: 75px;

	}
	&__right-title {
		font-size: 18px;
		margin-top: 65px;
		margin-bottom: 10px;

		@include screen-xl(){
			font-size: inherit;
			margin-top: 50px;
			margin-bottom: inherit;
		}
		@include screen-sm(){
			margin: 35px 0;
			font-size: 27px;
		}
	}
	&__form{
		margin: 0;
		text-align: left;
	}
}