.text {

	p {
		margin: 20px 0;
		text-align: justify;
	}

	a {
		color: $red;
		transition: $duration ease;
		border-bottom: 1px solid transparent;

		&:hover {
			border-bottom-color: $red;
		}
	}

	ul {
		margin: 20px 0;

		li {
			position: relative;
			line-height: 1.4;
			padding-left: 1em;
			margin-bottom: 5px;

			&:before {
				content: '';
				position: absolute;
				width: .4em;
				height: .15em;
				background: $red;
				top: .6em;
				left: 3px;
			}
		}
	}

	img {
		max-width: 100%;
	}
}