.title {
	font-size: 30px;
	font-family: $font-days;
	transform: scaleY(1.2);
	margin: 50px 0;
	text-transform: uppercase;
	font-weight: 400;

	@include screen-xl() {
		margin: 35px 0;
		font-size: 27px;
	}

	@include screen-xs() {
		font-size: 22px;
	}

	&_lower {
		text-transform: none;
	}

	&_angle {

		@include screen-sm(min) {
			position: relative;
			display: inline-block;
		}

		&::before,
		&::after {

			@include screen-sm(min) {
				content: '';
				position: absolute;
				background: $red;
				left: -20px;
			}
		}

		&::before {

			@include screen-sm(min) {
				height: 45px;
				width: 8px;
				bottom: -10px;
				transform: scaleY(0.85);
			}
		}

		&::after {

			@include screen-sm(min) {
				width: 45px;
				height: 8px;
				bottom: -7px;
				transform: scaleY(0.89);
			}
		}
	}
}