@font-face {
	font-family: "PTSerif";
	src: url("../fonts/landing/PRSerif/PTSerifRegular/PTSerifRegular.eot");
	src: url("../fonts/landing/PRSerif/PTSerifRegular/PTSerifRegular.eot?#iefix")format("embedded-opentype"),
	url("../fonts/landing/PRSerif/PTSerifRegular/PTSerifRegular.woff") format("woff"),
	url("../fonts/landing/PRSerif/PTSerifRegular/PTSerifRegular.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: "PTSerif";
	src: url("../fonts/landing/PRSerif/PTSerifBold/PTSerifBold.eot");
	src: url("../fonts/landing/PRSerif/PTSerifBold/PTSerifBold.eot?#iefix")format("embedded-opentype"),
	url("../fonts/landing/PRSerif/PTSerifBold/PTSerifBold.woff") format("woff"),
	url("../fonts/landing/PRSerif/PTSerifBold/PTSerifBold.ttf") format("truetype");
	font-style: normal;
	font-weight: bold;
}

@font-face {
	font-family: "PTSerif";
	src: url("../fonts/landing/PRSerif/PTSerifItalic/PTSerifItalic.eot");
	src: url("../fonts/landing/PRSerif/PTSerifItalic/PTSerifItalic.eot?#iefix")format("embedded-opentype"),
	url("../fonts/landing/PRSerif/PTSerifItalic/PTSerifItalic.woff") format("woff"),
	url("../fonts/landing/PRSerif/PTSerifItalic/PTSerifItalic.ttf") format("truetype");
	font-style: italic;
	font-weight: normal;
}

@font-face {
	font-family: "PTSerif";
	src: url("../fonts/landing/PRSerif/PTSerifBoldItalic/PTSerifBoldItalic.eot");
	src: url("../fonts/landing/PRSerif/PTSerifBoldItalic/PTSerifBoldItalic.eot?#iefix")format("embedded-opentype"),
	url("../fonts/landing/PRSerif/PTSerifBoldItalic/PTSerifBoldItalic.woff") format("woff"),
	url("../fonts/landing/PRSerif/PTSerifBoldItalic/PTSerifBoldItalic.ttf") format("truetype");
	font-style: italic;
	font-weight: bold;
}