@font-face {
	font-family: 'YesevaOne';
	src: url($path + 'fonts/landing/YesevaOne/YesevaOne-Regular.woff2') format('woff2'),
		url($path + 'fonts/landing/YesevaOne/YesevaOne-Regular.woff') format('woff'),
		url($path + 'fonts/landing/YesevaOne/YesevaOne-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}