.price {
	font-weight: 500;
	font-size: 16px;
	transition: $duration ease opacity, $duration ease visibility $duration;
	opacity: 1;
	visibility: visible;
	background: white;
	padding: 15px;

	@include screen-md(min) {
		font-size: 24px;
		padding: 15px 0 0 0;
	}

	&__title {
		margin: 0 25px 0 0;
		display: inline-block;
		position: relative;

		@include screen-md(min) {
			margin-right: 0;
		}

		&::before,
		&::after {
			content: '';
			position: absolute;
			background: $red;
			right: -20px;
			top: -11px;

			@include screen-md(min) {
				right: -24px;
				top: -11px;
			}
		}

		&::before {
			height: 30px;
			width: 6px;

			@include screen-md(min) {
				height: 43px;
				width: 8px;
			}
		}

		&::after {
			width: 30px;
			height: 6px;

			@include screen-md(min) {
				width: 43px;
				height: 8px;
			}
		}
	}

	&__cost-wrap {
		font-size: 1.54em;
		margin: 0;
	}

	&__cost {
		font-family: $font-days;
		transform: scaleY(1.2);
		display: inline-block;
	}

	&__currency {
		display: inline-block;
	}

	&_hidden {
		opacity: 0;
		visibility: hidden;
	}
}