.page-slider{
	margin-bottom: 30px;

	.slick-dots {
		list-style: none;
		padding: 0;
		display: flex;
		justify-content: space-between;
		position: relative;
		margin: 0 5%;

		&:after {
			content: '';
			position: absolute;
			bottom: 7px;
			left: 7%;
			z-index: -1;
			display: block;
			height: 1px;
			width: 86%;
			border-bottom: 1px dashed $red;
			@include screen-sm() {
				width: 100%;
				left: 0;
			}
		}

		li {
			text-align: center;
			display: inline-block;
			transition: color ease .3s;

			&.slick-active {
				color: $red;

				.dot {
					&__item {
						position: relative;
						top: -5px;
					}
					&__circle {
						box-shadow: inset 0 0 0 4px $red;

						&:before, &:after {
							width: 10px;
							height: 5px;
							background: $red;
						}

						.circle__line {

							&:before, &:after {
								width: 8px;
								height: 3px;
								background: $red;
							}
						}

					}
				}
			}

			&:first-child {
				display: none;
			}

			&:nth-child(2) {
				.dot__circle {
					&:before {
						display: none;
					}
					.circle__line {
						&:before {
							display: none
						}
					}
				}
			}
			&:last-child {
				.dot__circle {
					&:after {
						display: none;
					}
					.circle__line {
						&:after {
							display: none
						}
					}
				}
			}
			&:hover {
				cursor: pointer;

				.dot__item {
					position: relative;
					top: -5px;
					color: $red;
				}
			}
		}

		.dot {

			&__item {
				top: 0;
				margin: 0 10px;
				margin-bottom: 15px;
				font-weight: 500;
				transition: all .2s ease;

				@include screen-sm() {
					display: none;
				}
			}

			&__circle {
				position: relative;
				width: 15px;
				height: 15px;
				margin: 0 auto;
				box-shadow: inset 0 0 0 2px $red;
				border-radius: 15px;
				background: #fff;
				transition: all .2s ease;

				&:before, &:after {
					content: '';
					display: block;
					position: absolute;
					width: 0;
					height: 0;
					top: 5px;
					transition: all ease .3s;
				}

				&:before {
					left: -12px;
				}

				&:after {
					right: -12px;
				}

				.circle__line {
					position: relative;

					&:before, &:after {
						content: '';
						display: block;
						position: absolute;
						width: 0;
						height: 0;
						top: 6px;
						transition: all ease .3s;
					}

					&:before {
						left: -23px;
					}

					&:after {
						right: -23px;
					}
				}
			}
		}
	}


}