.effective-offer {
	margin-top: 170px;

	@include  screen-sm(){
		margin-top: 250px;
	}

	@include  screen-xs(){
		margin-top: 300px;
	}

	&__title {
		max-width: 350px;
	}

	&__profits {
		width: 45%;
		margin-left: 8%;
		display: flex;
		flex-wrap: wrap;

		@include screen-sm(){
			width: 100%;
			padding: 0 20px;
			margin: 0;
			justify-content: center;
		}
		@include screen-xs(){
			padding: 0;
		}
	}

	&__descr {
		width: 40%;

		@include screen-sm(){
			width: 100%;
			padding: 0 20px;
			margin: 15px auto;
		}

		h3{
			margin-top: 7.5px;
			font-size: 20px;
		}

		p {
			line-height: 1.4;
		}
	}

	&__tab{
		display: none;
		opacity: 0;
		transition: opacity .3s ease;

		&.visible{
			display: block;
			opacity: 1;
		}
	}
}