$color-land: #97a8c5;
$color-land-second: #97c1b6;
$color-land-third: #fbc9b4;
$color-land-dark: #333;
$color-land-gray: #666;

$font-land: "Arimo", sans-serif;
$font-land-second: "Museo", sans-serif;