@font-face {
 font-family: 'FuturaBookC';
 src: url($path + 'fonts/landing/futurabookc/futurabookc.woff2') format('woff2'),
 url($path + 'fonts/landing/futurabookc/futurabookc.woff') format('woff');
 font-weight: normal;
 font-style: normal;
}
