@import url('../../global/variables.scss');
@import url('variables.scss');
@import url('fonts.scss');

::selection {
	background-color: $color-land;
	color: white;
}

.land {
	font-family: $font-land;
	font-weight: normal;
	font-size: 22px;
	line-height: 1.3;

	@include screen-lg() {
		font-size: 20px;
	}

	@include screen-md() {
		font-size: 18px;
	}

	@include screen-sm() {
		font-size: 16px;
	}

	&__section {
		position: relative;
		margin-bottom: 2em;

		&_first {
			background: url($path + 'img/landing/parus/bg.jpg') no-repeat 50% 0;
			background-size: 100% auto;
			height: 100vh;
			margin-top: -90px;
			margin-bottom: 3em;

			@include screen-xl() {
				margin-top: -60px;
			}

			@include screen-lg() {
				background-size: cover;
				background-position: 32% 100%;
			}

			&::after {
				content: '';
				position: absolute;
				left: 0;
				right: 0;
				top: 0;
				bottom: 0;
				background: linear-gradient(to bottom, white 0, transparent 40%);
			}
		}
	}

	&__head-wrap {
		z-index: 1;
	}

	&__logo {
		max-width: 50%;
		margin: 30vh 0 20px;
		filter: drop-shadow(1px 1px 0 $color-land-shadow);
		width: 200px;
		height: 120px;

		@include screen-md() {
			margin-top: 65px;
		}

		@include screen-xs() {
			max-width: 100%;
		}
	}

	&__main-title {
		position: relative;
		z-index: 1;
		margin: 0;
		font-weight: normal;
		font-size: 50px;
		line-height: 1;
		font-family: $font-land;
		color: #010000;
		text-shadow: 1px 1px 0 $color-land-shadow;

		@include screen-lg() {
			font-size: 35px;
		}

		@include screen-md() {
			font-size: 30px;
		}

		@include screen-sm() {
			font-size: 27px;
			margin: 0;
		}

		@include screen-xs() {
			font-size: 21px;
			line-height: 1.2;
		}
	}

	&__right-img {
		position: absolute;
		bottom: 0;
		right: 0;
		height: auto;
		max-width: 90%;
		max-height: 100%;
		padding-top: 90px;

		@include screen-xl() {
			padding-top: 60px;
		}

		@include screen-sm() {
			max-width: 80%;
		}

		@include screen-xs() {
			max-width: 100%;
		}
	}

	&__title-wrap {

	}

	&__title {
		text-align: center;
		line-height: 1.5;
		position: relative;
		display: block;
		font-size: 42px;
		font-weight: normal;
		margin: 1em 0 .5em;
		font-family: $font-land;

		@include screen-lg() {
			font-size: 36px;
		}

		@include screen-md() {
			font-size: 30px;
		}

		@include screen-sm() {
			font-size: 26px;
		}
	}

	&__text {
		text-align: justify;
		line-height: 1.5;
	}

	&__sm-title {
		text-align: center;
		font-size: 25px;
		line-height: 1.5;
		margin: 1.2em 0 .5em;
		font-weight: 300;
		font-family: $font-land;

		@include screen-lg() {
			font-size: 22px;
		}

		@include screen-md() {
			font-size: 20px;
		}

		@include screen-sm() {
			font-size: 18px;
		}
	}

	&__list {
		display: inline-block;
		text-align: left;
		margin-bottom: 1.5em;
	}

	&__list-item {
		list-style-type: none;
		line-height: 1.5;
		padding: 3px 0;
		text-align: justify;

		&::before {
			content: '';
			display: inline-block;
			width: 10px;
			height: 10px;
			background: $color-land-second;
			border-radius: 50%;
			margin-right: 15px;
		}
	}

	&__link-wrap {
		font-size: 24px;
		text-align: center;
		margin: 0;

		@include screen-lg() {
			font-size: 22px;
		}

		@include screen-md() {
			font-size: 19px;
		}

		@include screen-sm() {
			font-size: 17px;
		}
	}

	&__link {
		transition: none;
		display: inline-block;
		color: $color-land-dark;
		border-bottom: 1px solid lighten($color-land-dark, 50%);

		&:hover,
		&:focus {
			color: $color-land;
			border-bottom: 1px solid lighten($color-land, 30%);
		}
	}

	&__gray-title {
		font-family: $font-land;
		font-size: 2rem;
		font-weight: normal;
		margin: 3rem 0;
		text-align: left;

		&_fog {
			background: white;
			box-shadow: 0 0 5px 3px white;
		}
	}

	&__example-title {
		color: $color-land-dark;
		letter-spacing: 0.06667em;
		line-height: 1.4;
		font-size: 2rem;
		font-weight: normal;
		margin: 3rem 0;

		@include screen-lg() {
			font-size: 30px;
			margin-top: .7em;
		}

		@include screen-md() {
			font-size: 26px;
		}

		@include screen-sm() {
			font-size: 23px;
		}
	}

	&__example-text {
		margin: .5em 0;
		font-weight: normal;
		font-size: 1.6rem;
		color: $color-land-dark;
		letter-spacing: 0.06667em;
		line-height: 1.4;

		@include screen-xs() {
			text-align: left;
		}
	}

	&__font-name {
		white-space: nowrap;
		margin-top: 0;

		@include screen-sm() {
			margin-top: 0;
		}
	}

	&__rect {
		font-size: 51px;
		text-align: center;
		width: 162px;
		height: 162px;
		line-height: 162px;
		box-shadow: 0 0 7px rgba(black, .2);
		position: relative;
		background: white;
		display: inline-block;

		@include screen-lg() {
			font-size: 46px;
		}

		@include screen-md() {
			font-size: 41px;
		}

		@include screen-sm() {
			font-size: 36px;
		}

		@include screen-xs() {
			margin-bottom: 1em;
		}

		&_second {
			font-family: $font-land;
			font-weight: bolder
		}

		&_line_first,
		&_line_second {

			&::before,
			&::after {
				content: '';
				position: absolute;
				width: 1px;
				height: 50px;
				transform-origin: 0 0;

				@include screen-sm() {
					display: none;
				}
			}
		}

		&_line_first {

			&::before,
			&::after {
				background: $color-land;
			}

			&::before {
				bottom: -50px;
			}

			&::after {
				bottom: -100px;
				transform: rotate(-74.9deg) scaleY(9);

				@include screen-lg() {
					transform: rotate(-63.4deg) scaleY(5.2);
				}

				@include screen-md() {
					transform: rotate(-26.5deg) scaleY(2.1);
				}
			}
		}

		&_line_second {

			&::before,
			&::after {
				background: $color-land-second;

				@include screen-md() {

				}
			}

			&::before {
				right: -50px;
				top: 50%;
				transform: rotate(90deg);
				height: 50px;

				@include screen-md() {
					right: auto;
					left: 0;
					top: 0;
					transform: rotate(135deg);
				}
			}

			&::after {
				top: 50%;
				right: -50px;
				transform: rotate(-39.1deg) scaleY(6);
				margin-top: 1px;

				@include screen-lg() {
					transform: rotate(5.6deg) scaleY(4.5);
				}

				@include screen-md() {
					right: auto;
					left: -35px;
					top: -35px;
					transform: rotate(-260.3deg) scaleY(3.93);
				}
			}
		}
	}

	&__rect-sm-img {
		position: absolute;
		width: 70px;
		height: 50px;
		bottom: -20px;
		right: -20px;
	}

	&__rect-img {
		width: 62px;
		height: 62px;
		position: absolute;
		top: 50%;
		left: 50%;
		margin-top: -31px;
		margin-left: -31px;
		background: $color-land;

		&_second {
			background: $color-land-second;
		}
	}

	&__fog-logo {
		opacity: .03;
		height: 50vh;
		max-width: 100%;
		position: absolute;
		bottom: 0;
		left: 0;
		z-index: -1;
	}

	&__img {
		display: block;
		max-width: 100%;
		margin: 0 auto;

		&_right {
			margin-right: 0;
		}

		&_fog {
			box-shadow: 0 0 7px rgba(black, .2);
		}
	}

	&__abs {
		padding: 0 15px;
		display: inline-block;

		@include screen-xs(min) {
			position: absolute;
		}

		&_1 {

			@include screen-xs(min) {
				left: 0;
			}
		}

		&_2 {

			@include screen-xs(min) {
				left: 260px;
			}

			@include screen-md() {
				left: auto;
				right: 0;
				bottom: 0;
			}
		}
	}
}
