@import url('../../global/variables.scss');
@import url('fonts.scss');
@import url('variables.scss');

::selection {
	background-color: $color-land;
	color: white;
}

.land {
	color: $color-land-dark;
	font-weight: 300;
	font-size: 22px;
	line-height: 1.3;
	font-family: "OpenSans", "Arial", sans-serif;

	@include screen-lg() {
		font-size: 20px;
	}

	@include screen-md() {
		font-size: 18px;
	}

	@include screen-sm() {
		font-size: 16px;
	}

	&__section {
		position: relative;
		margin-bottom: 2em;

		&_first {
			background: url($path + 'img/landing/nsella/bg.jpg') no-repeat 50% 0;
			background-size: 100% auto;
			height: 100vh;
			margin-top: -91px;
			margin-bottom: 2em;

			@include screen-xl() {
				margin-top: -60px;
			}

			@include screen-lg() {
				background-size: cover;
				background-position: 50% 50%;
			}

			&::after {
				content: '';
				position: absolute;
				left: 0;
				right: 0;
				top: 0;
				bottom: 0;
				background: linear-gradient(to bottom, white 0, transparent 40%);
			}
		}
	}

	&__head-wrap {
		z-index: 1;
	}

	&__logo {
		width: 35%;
		margin-top: 20vh;

		@include screen-md() {
			max-width: 320px;
			width: 100%;
		}

		@include screen-xs() {
			margin-top: 90px;
		}
	}

	&__main-title {
		position: relative;
		z-index: 1;
		margin: 1.5em 0;
		font-size: 32px;
		font-weight: 500;
		max-width: 60%;

		@include screen-lg() {
			font-size: 29px;
		}

		@include screen-md() {
			font-size: 27px;
		}

		@include screen-sm() {
			font-size: 25px;
			margin: 1em 0;
			max-width: 100%;
		}

		@include screen-xs() {
			font-size: 20px;
		}
	}

	&__right-img {
		position: absolute;
		bottom: 0;
		right: 0;
		height: auto;
		max-width: 90%;
		max-height: 100%;
		padding-top: 90px;

		@include screen-xl() {
			padding-top: 60px;
		}

		@include screen-sm() {
			max-width: 80%;
		}

		@include screen-xs() {
			max-width: 100%;
		}
	}

	&__title-wrap {

	}

	&__title {
		text-align: center;
		position: relative;
		display: block;
		font-size: 36px;
		margin: 1.5em 0 .7em;
		color: $color-land-dark;
		font-weight: 300;

		@include screen-lg() {
			font-size: 33px;
		}

		@include screen-md() {
			font-size: 30px;
		}

		@include screen-sm() {
			font-size: 27px;
		}

		&::after {
			content: '';
			height: 2px;
			width: 76px;
			display: block;
			margin: 10px auto 0;
			background: $color-land;
		}
	}

	&__text {
		text-align: justify;
	}

	&__sm-title {
		text-align: center;
		font-size: 26px;
		margin: 1em 0 .5em;
		font-weight: 500;
		color: $color-land-dark;

		@include screen-lg() {
			font-size: 24px;
		}

		@include screen-md() {
			font-size: 22px;
		}

		@include screen-sm() {
			font-size: 20px;
		}
	}

	&__list {
		display: inline-block;
		text-align: left;
		margin-bottom: 1.5em;
	}

	&__list-item {
		list-style-type: none;
		padding: 3px 0;
		text-align: justify;

		&::before {
			content: '';
			display: inline-block;
			width: 10px;
			height: 10px;
			background: $color-land;
			border-radius: 50%;
			margin-right: 15px;
			vertical-align: middle;
		}
	}

	&__link-wrap {
		font-size: 24px;
		text-align: center;
		margin: 0;

		@include screen-lg() {
			font-size: 22px;
		}

		@include screen-md() {
			font-size: 19px;
		}

		@include screen-sm() {
			font-size: 17px;
		}
	}

	&__link {
		display: inline-block;
		color: $color-land-dark;
		border-bottom: 1px solid $color-land-dark;
		font-weight: 500;

		&:hover,
		&:focus {
			color: $color-land;
			border-bottom-color: transparent;
		}
	}

	&__gray-title {
		text-transform: uppercase;
		font-size: 19px;

		&_fog {
			background: white;
			box-shadow: 0 0 5px 3px white;
		}
	}

	&__example-title {
		font-size: 30px;
		font-weight: 300;
		margin: 1em 0 1em;
		color: $color-land-dark;

		@include screen-sm() {
			font-size: 26px;
		}

		&::after {
			content: '';
			height: 2px;
			width: 76px;
			display: block;
			margin-top: 5px;
			background: $color-land;
		}
	}

	&__example-text {
		font-size: 18px;
		margin: 8px 0;
		font-weight: 300;
		color: $color-land-gray;

		@include screen-sm() {
			font-size: 16px;
		}

		@include screen-xs() {
			text-align: left;
		}
	}

	&__font-name {
		white-space: nowrap;
		font-size: 20px;

		@include screen-sm() {
			margin-top: 0;
		}
	}

	&__rect-sm-img {
		height: 40px;
		position: absolute;
		bottom: -20px;
		right: -20px;
	}

	&__rect {
		font-size: 51px;
		text-align: center;
		width: 162px;
		height: 162px;
		line-height: 162px;
		box-shadow: 0 0 7px rgba(black, .2);
		position: relative;
		background: white;
		display: inline-block;
		font-weight: 300;

		@include screen-lg() {
			font-size: 46px;
		}

		@include screen-md() {
			font-size: 41px;
		}

		@include screen-sm() {
			font-size: 36px;
		}

		@include screen-xs() {
			margin-bottom: 1em;
		}

		&_second {
			font-weight: 600;
		}

		&_line_first,
		&_line_second {

			&::before,
			&::after {
				content: '';
				position: absolute;
				width: 1px;
				height: 50px;
				transform-origin: 0 0;

				@include screen-sm() {
					display: none;
				}
			}
		}

		&_line_first {

			&::before,
			&::after {
				background: $color-land-second;
			}

			&::before {
				bottom: -50px;
			}

			&::after {
				bottom: -100px;
				transform: rotate(-87.1deg) scaleY(9.15);

				@include screen-lg() {
					transform: rotate(-94.6deg) scaleY(7.27);
				}

				@include screen-md() {
					transform: rotate(-100deg) scaleY(2.69);
				}
			}
		}

		&_line_second {

			&::before,
			&::after {
				background: $color-land;

				@include screen-md() {

				}
			}

			&::before {
				right: -50px;
				top: 50%;
				transform: rotate(90deg);
				height: 50px;

				@include screen-md() {
					right: auto;
					left: 0;
					top: 0;
					transform: rotate(135deg);
				}
			}

			&::after {
				top: 50%;
				right: -50px;
				transform: rotate(-105.8deg) scaleY(5.02);
				margin-top: 1px;

				@include screen-lg() {
					transform: rotate(-124.9deg) scaleY(2.9);
				}

				@include screen-md() {
					right: auto;
					left: -35px;
					top: -35px;
					transform: rotate(-211.5deg) scaleY(6.37);
				}
			}
		}
	}

	&__rect-img {
		width: 62px;
		height: 62px;
		position: absolute;
		top: 50%;
		left: 50%;
		margin-top: -31px;
		margin-left: -31px;
		background: $color-land-second;

		&_second {
			background: $color-land;
		}
	}

	&__fog-logo {
		opacity: .03;
		height: 125px;
		max-width: 100%;
		position: absolute;
		bottom: 0;
		left: 0;
		z-index: -1;
	}

	&__img {
		display: block;
		max-width: 100%;
		margin: 0 auto;

		&_right {
			margin-right: 0;
			max-width: 75%;

			@include screen-md() {
				max-width: 100%;
			}
		}

		&_fog {
			box-shadow: 0 0 7px rgba(black, .2);
		}
	}

	&__abs {
		padding: 0 15px;
		display: inline-block;

		@include screen-xs(min) {
			position: absolute;
		}

		&_1 {

			@include screen-xs(min) {
				left: 0;
			}
		}

		&_2 {

			@include screen-xs(min) {
				left: 260px;
			}

			@include screen-md() {
				left: auto;
				right: 0;
				bottom: 0;
			}
		}
	}
}