<div class="center">
	<h2 class="title title_sm title_angle-top title_mb-half">Наши клиенты</h2>
</div>
<div class="customer">
	<div class="customer__item">
		<div class="customer__img" style="background-image: url('img/landing/dentikom/logo.jpg')"></div>
	</div>
	<div class="customer__item">
		<div class="customer__img" style="background-image: url('img/landing/eva/logo.svg')"></div>
	</div>
	<div class="customer__item">
		<div class="customer__img" style="background-image: url('img/landing/kf-sklad/logo.svg')"></div>
	</div>
	<div class="customer__item">
		<div class="customer__img" style="background-image: url('img/landing/markiza/logo.png')"></div>
	</div>
	<div class="customer__item">
		<div class="customer__img" style="background-image: url('img/landing/molter/logo.png')"></div>
	</div>
	<div class="customer__item">
		<div class="customer__img" style="background-image: url('img/landing/olivia/logo-sm.png')"></div>
	</div>
	<div class="customer__item">
		<div class="customer__img" style="background-image: url('img/landing/parus/logo.svg')"></div>
	</div>
	<div class="customer__item">
		<div class="customer__img" style="background-image: url('img/landing/printer-copir/logo.png')"></div>
	</div>
	<div class="customer__item">
		<div class="customer__img" style="background-image: url('img/landing/printsburg/logo.png')"></div>
	</div>
	<div class="customer__item">
		<div class="customer__img" style="background-image: url('img/landing/reksshop/logo.png')"></div>
	</div>
	<div class="customer__item">
		<div class="customer__img" style="background-image: url('img/landing/rimi/logo.png')"></div>
	</div>
	<div class="customer__item">
		<div class="customer__img" style="background-image: url('img/landing/solomon/logo.png')"></div>
	</div>
	<div class="customer__item">
		<div class="customer__img" style="background-image: url('img/landing/spbcgt/logo.png')"></div>
	</div>
	<div class="customer__item">
		<div class="customer__img" style="background-image: url('img/landing/tair/logo.png')"></div>
	</div>
</div>