<!-- HEADER -->
<header class="header">
    <div class="container">
        <div class="logo header__left">
            <a href="/">
                <span>
                    <span class="logo__brace">
                        <img src="img/logosml.svg" alt="">
                    </span>
                    <span class="logo__main"></span>
                    <span class="logo__brace">
                        <img src="img/logosmr.svg" alt="">
                    </span>
                    <span class="logo__small"></span>
                </span>
            </a>
        </div>
        <div class="phones">
            <div class="phones__spb">+7 <span class="red">(</span>812<span class="red">)</span> 424-38-66 <span
                    class="red">СПБ</span>
            </div>
            <div class="phones__msc">+7 <span class="red">(</span>495<span class="red">)</span> 481-34-76 <span
                    class="red">МСК</span>
            </div>
        </div>
        <div class="header__right">
            <div class="btn header__btn js-btn_pop" data-target="#callback">
                   Оставить заявку
            </div>
            <div class="menu-icon header__menu-icon">
                <span class="menu-icon__bar"></span>
            </div>
        </div>
    </div>
</header>

<div class="side-menu">
    <div class="menu-icon">
        <span class="menu-icon__bar"></span>
    </div>

    <ul class="nav">
        <li class="nav__item"><a href="/dev-store.html">Разработка</a></li>
        <li class="nav__item"><a href="/support.html">Поддержка</a></li>
        <li class="nav__item"><a href="/integration.html">Интеграция</a></li>
        <li class="nav__item"><a href="/portfolio.html">Портфолио</a></li>
        <li class="nav__item"><a href="/blog-outer.html">Блог</a></li>
        <li class="nav__item"><a href="/technology.html">Технологии</a></li>
        <li class="nav__item"><a href="/contacts.html">Контакты</a></li>
    </ul>
</div>

