<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<meta http-equiv="X-UA-Compatible" content="ie=edge">

<meta name="keywords" content="поддержка сайта, разработка сайта, поддержка интернет-магазина, разработка интернет-магазина, 1С-Битрикс, modx, joomla, webasyst">
<meta name="description" content="Веб-студия Webcenter.pro - золотой партнёр 1С-Битрикс, поддержка и разработка сайтов и интернет-магазинов."/>

<!--Open Graph-->

<meta property="og:locale" content="ru_RU">
<meta property="og:locale:alternate" content="en_US">
<meta property="og:title" content="Разработка сайтов и интернет-магазинов, поддержка сайтов на 1С-Битрикс, ModX и других CMS">
<meta property="og:description" content="Веб-студия Webcenter.pro - золотой партнёр 1С-Битрикс, поддержка и разработка сайтов и интернет-магазинов.">
<meta property="og:url" content="http://webcenter.pro/">
<meta property="og:type" content="website">
<meta property="og:image" content="/img/logo.png">

<!-- end Open Graph -->

<link rel="image_src" href="http://placehold.it/450x450"/>
<link rel="shortcut icon" type="image/png" href="img/favicon.png">

<script src="js/libs.min.js"></script>
<script src="js/script.js"></script>

<link rel="stylesheet" href="css/libs.min.css">
<link rel="stylesheet" href="css/style.css">