<!-- HEADER -->
<header class="header">
    <div class="container">
        <div class="logo header__left">
            <a href="/">
                <div class="empty-logo">
                    <img src="img/logosm.svg" alt="">
                </div>
                <div class="full-logo hidden">
                    <img src="img/logo.svg" alt="">
                </div>
            </a>
        </div>
        <div class="phones">
            <div class="phones__spb">+7 <span class="red">(</span>812<span class="red">)</span> 424-38-66 <span
                    class="red">СПБ</span>
            </div>
            <div class="phones__msc">+7 <span class="red">(</span>495<span class="red">)</span> 481-34-76 <span
                    class="red">МСК</span>
            </div>
        </div>
        <div class="header__right">
            <a href="" class="btn">
                Оставить заявку
            </a>
            <div class="menu-icon">
                <span class="bar"></span>
            </div>
        </div>
    </div>
</header>

<div class="side-menu">
    <div class="menu-icon">
        <span class="bar"></span>
    </div>

    <ul class="nav">
        <li class="nav__item"><a href="">Разработка</a></li>
        <li class="nav__item"><a href="">Поддержка</a></li>
        <li class="nav__item"><a href="">Интеграция</a></li>
        <li class="nav__item"><a href="">Битрикс</a></li>
        <li class="nav__item"><a href="">Портфолио</a></li>
        <li class="nav__item"><a href="">Контакты</a></li>
    </ul>
</div>

