<div class="popup" id="callback">
	<div class="popup__wrap">
		<div class="popup__close"></div>
		<h2 class="popup__title title title_lower">Связаться с нами</h2>

		<form class="form cont-panel__form">
			<input class="input form__input" type="text" placeholder="Ваше имя" required>
			<input class="input form__input" type="email" placeholder="Электронная почта" required>
			<input class="input form__input" type="tel" placeholder="Телефон" required>
			<input class="input form__input" type="text" placeholder="Компания">
			<textarea class="input form__input" placeholder="Комментарии"></textarea>

			<input class="btn btn_fill form__btn" type="submit" value="Оставить заявку">
		</form>
	</div>
</div>

<div class="popup" id="seo">
	<div class="popup__wrap">
		<div class="popup__close"></div>
		<h2 class="popup__title title title_lower">Заявка</h2>
		<h3 class="popup__subtitle title_sm title_lower">на seo-аудит сайта</h3>

		<form class="form cont-panel__form">
			<input class="input form__input" type="text" placeholder="Ваше имя" required>
			<input class="input form__input" type="text" placeholder="Сайт" required>
			<input class="input form__input" type="email" placeholder="Электронная почта" required>
			<textarea class="input form__input" placeholder="Комментарии"></textarea>

			<input class="btn btn_fill form__btn" type="submit" value="Оставить заявку">
		</form>
	</div>
</div>

<div class="popup" id="calcPopup">
	<div class="popup__wrap">
		<div class="popup__close"></div>
		<h2 class="popup__title title title_lower">Заявка</h2>
		<h3 class="popup__subtitle title_sm title_lower">на разработку интернет-магазина</h3>

		<form class="form cont-panel__form">
			<input class="input form__input" type="text" placeholder="Ваше имя" required>
			<input class="input form__input" type="email" placeholder="Электронная почта" required>
			<input class="input form__input" type="tel" placeholder="Телефон" required>
			<input class="input form__input" type="text" placeholder="Компания" required>
			<textarea class="input form__input" placeholder="Комментарии"></textarea>
			<input type="hidden" id="priceCalc">
			<input type="hidden" id="valuesCalc">
			<input class="btn btn_fill form__btn" type="submit" value="Оставить заявку">
		</form>
	</div>
</div>

<div class="js-btn_pop hidden" data-target="#blackFriday-1"></div>
<div class="popup popup_full" id="blackFriday-1">
	<div class="popup__wrap">
		<div class="popup__close"></div>
		<img class="popup__img hidden-xs" src="img/events/black-friday/offer-1.jpg" alt="SEO-оптимизация бесплатно при заказе проекта от 300000 руб.">
		<img class="popup__img visible-xs" src="img/events/black-friday/offer-mobile-1.jpg" alt="SEO-оптимизация бесплатно при заказе проекта от 300000 руб.">
	</div>
</div>

<div class="js-btn_pop hidden" data-target="#blackFriday-2"></div>
<div class="popup popup_full" id="blackFriday-2">
	<div class="popup__wrap">
		<div class="popup__close"></div>
		<img class="popup__img hidden-xs" src="img/events/black-friday/offer-2.jpg" alt="30 часов за 800 руб./час весь декабрь 2017 г.">
		<img class="popup__img visible-xs" src="img/events/black-friday/offer-mobile-2.jpg" alt="30 часов за 800 руб./час весь декабрь 2017 г.">
	</div>
</div>