<div class="popup" id="callback">
	<div class="popup__close">

	</div>
	<h2 class="popup__title title title_lower">Связаться с нами</h2>

	<form class="form cont-panel__form">
		<input class="input form__input" type="text" placeholder="Ваше имя">
		<input class="input form__input" type="email" placeholder="Электронная почта">
		<input class="input form__input" type="tel" placeholder="Телефон">
		<input class="input form__input" type="text" placeholder="Компания">
		<textarea class="input form__input" placeholder="Комментарии"></textarea>
		<div class="file-input form__input">
			<input class="file-input__input" type="file" id="file1">
			<label class="file-input__label" for="file1">Прикрепить файл</label>
			<span class="file-input__reset"></span>
		</div>
		<div class="file-input file-input_hidden form__input">
			<input class="file-input__input" type="file" id="file2">
			<label class="file-input__label" for="file2">Прикрепить файл</label>
			<span class="file-input__reset"></span>
		</div>
		<div class="file-input file-input_hidden form__input">
			<input class="file-input__input" type="file" id="file3">
			<label class="file-input__label" for="file3">Прикрепить файл</label>
			<span class="file-input__reset"></span>
		</div>
		<div class="file-input file-input_hidden form__input">
			<input class="file-input__input" type="file" id="file4">
			<label class="file-input__label" for="file4">Прикрепить файл</label>
			<span class="file-input__reset"></span>
		</div>
		<div class="file-input file-input_hidden form__input">
			<input class="file-input__input" type="file" id="file5">
			<label class="file-input__label" for="file5">Прикрепить файл</label>
			<span class="file-input__reset"></span>
		</div>
		<input class="btn btn_fill form__btn" type="submit" value="Оставить заявку">
	</form>
</div>