.cont-panel {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	transition: transform $duration * 2 ease;

	&__left {
		width: 70%;
		height: 100%;
		background: white;
		border-right: 1px solid rgba($color-main, .87);
	}

	&__wrap {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 50%;
		transform: translateX(-50%);
	}

	&__i {
		position: absolute;
		width: 70%;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		overflow-y: auto;
	}

	&__btn {
		position: absolute;
		left: 70%;
		top: 50%;
		transform: translateY(-50%);
		width: 30%;
		height: 100%;
		padding-left: 5px;
		display: flex;
		align-items: center;
		font-weight: 600;
		text-shadow: 1px 1px 0 rgba(white, .5);
		cursor: pointer;
		transition: $duration ease;

		&::before {
			content: '';
			position: absolute;
			right: 100%;
			top: 50%;
			transform: translateY(-50%);
			border-right: 20px solid rgba($color-main, .67);
			border-left: none;
			border-top: 17px solid transparent;
			border-bottom: 17px solid transparent;
			text-shadow: 1px 1px 0 rgba(white, .5);
			transition: $duration ease;
		}

		&:hover {
			color: $red;

			&::before {
				border-right-color: $red;
			}
		}
	}

	&_closed {
		transform: translateX(-100%);

		.cont-panel {
			// =====

			&__btn {
				left: 100%;
				width: auto;
				height: 100px;
				padding-left: 25px;
				padding-right: 10px;

				&::before {
					transform: translateY(-50%) rotate(180deg);
					margin-right: -20px;
				}
			}
		}
	}
}