.customer {

	@include screen-sm(){
		margin-bottom: 45px;
	}

	&__item {
		outline: none;
	}

	&__img {
		width: calc(100% - 30px);
		height: 60px;
		margin: 0 15px;
		background: no-repeat center;
		background-size: contain;
		filter: grayscale(100%);
		opacity: .4;
		transition: $duration ease;

		&:hover {
			filter: none;
			opacity: 1;
		}
	}

	&__prev,
	&__next {
		position: absolute;
		top: 0;
		width: 45px;
		height: 100%;
		z-index: 1;
		font-size: 60px;
		line-height: 0;
		cursor: pointer;
		transition: $duration ease;

		&::after {
			font-family: 'FontAwesome';
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}

		&:hover {
			color: $red;
		}
	}

	&__prev {
		left: 0;

		&::after {
			content: '\f104';
		}
	}

	&__next {
		right: 0;

		&::after {
			content: '\f105';
		}
	}

	&__dots {
		//text-align: center;
		//margin-top: 15px;
		//
		//li {
		//	display: inline-block;
		//	margin: 5px;
		//	padding: 21px 0 20px;
		//	cursor: pointer;
		//
		//	&:hover,
		//	&.slick-active {
		//
		//		button {
		//			background: $red;
		//		}
		//	}
		//}
		//
		//button {
		//	font-size: 0;
		//	outline: none;
		//	border: none;
		//	background: $color-main;
		//	width: 45px;
		//	height: 4px;
		//	display: block;
		//	cursor: pointer;
		//	transition: $duration ease;
		//}
	}

	.slick-list {

		@include screen-sm() {
			margin-left: 45px;
			margin-right: 45px;
		}
	}
}