@font-face {
	font-family: 'Century Gothic';
	src: url($path + 'fonts/landing/CenturyGothic/CenturyGothic.woff2') format('woff2'),
	url($path + 'fonts/landing/CenturyGothic/CenturyGothic.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Century Gothic';
	src: url($path + 'fonts/landing/CenturyGothic/CenturyGothic-Bold.woff2') format('woff2'),
	url($path + 'fonts/landing/CenturyGothic/CenturyGothic-Bold.woff') format('woff');
	font-weight: bold;
	font-style: normal;
}