@font-face {
	font-family: "GothamPro";
	src: url($path + "fonts/landing/gothampro/GothamProRegular/GothamProRegular.eot");
	src: url($path + "fonts/landing/gothampro/GothamProRegular/GothamProRegular.eot?#iefix")format("embedded-opentype"),
	url($path + "fonts/landing/gothampro/GothamProRegular/GothamProRegular.woff") format("woff"),
	url($path + "fonts/landing/gothampro/GothamProRegular/GothamProRegular.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: "GothamPro";
	src: url($path + "fonts/landing/gothampro/GothamProMedium/GothamProMedium.eot");
	src: url($path + "fonts/landing/gothampro/GothamProMedium/GothamProMedium.eot?#iefix")format("embedded-opentype"),
	url($path + "fonts/landing/gothampro/GothamProMedium/GothamProMedium.woff") format("woff"),
	url($path + "fonts/landing/gothampro/GothamProMedium/GothamProMedium.ttf") format("truetype");
	font-style: normal;
	font-weight: 600;
}

@font-face {
	font-family: "GothamPro";
	src: url($path + "fonts/landing/gothampro/GothamProBold/GothamProBold.eot");
	src: url($path + "fonts/landing/gothampro/GothamProBold/GothamProBold.eot?#iefix")format("embedded-opentype"),
	url($path + "fonts/landing/gothampro/GothamProBold/GothamProBold.woff") format("woff"),
	url($path + "fonts/landing/gothampro/GothamProBold/GothamProBold.ttf") format("truetype");
	font-style: normal;
	font-weight: 700;
}