@font-face {
	font-family: "Cuprum";
	src: url("../fonts/landing/Cuprum/CuprumRegular/CuprumRegular.eot");
	src: url("../fonts/landing/Cuprum/CuprumRegular/CuprumRegular.eot?#iefix")format("embedded-opentype"),
	url("../fonts/landing/Cuprum/CuprumRegular/CuprumRegular.woff") format("woff"),
	url("../fonts/landing/Cuprum/CuprumRegular/CuprumRegular.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: "Cuprum";
	src: url("../fonts/landing/Cuprum/CuprumBold/CuprumBold.eot");
	src: url("../fonts/landing/Cuprum/CuprumBold/CuprumBold.eot?#iefix")format("embedded-opentype"),
	url("../fonts/landing/Cuprum/CuprumBold/CuprumBold.woff") format("woff"),
	url("../fonts/landing/Cuprum/CuprumBold/CuprumBold.ttf") format("truetype");
	font-style: normal;
	font-weight: bold;
}

@font-face {
	font-family: "Cuprum";
	src: url("../fonts/landing/Cuprum/CuprumItalic/CuprumItalic.eot");
	src: url("../fonts/landing/Cuprum/CuprumItalic/CuprumItalic.eot?#iefix")format("embedded-opentype"),
	url("../fonts/landing/Cuprum/CuprumItalic/CuprumItalic.woff") format("woff"),
	url("../fonts/landing/Cuprum/CuprumItalic/CuprumItalic.ttf") format("truetype");
	font-style: italic;
	font-weight: normal;
}

@font-face {
	font-family: "Cuprum";
	src: url("../fonts/landing/Cuprum/CuprumBoldItalic/CuprumBoldItalic.eot");
	src: url("../fonts/landing/Cuprum/CuprumBoldItalic/CuprumBoldItalic.eot?#iefix")format("embedded-opentype"),
	url("../fonts/landing/Cuprum/CuprumBoldItalic/CuprumBoldItalic.woff") format("woff"),
	url("../fonts/landing/Cuprum/CuprumBoldItalic/CuprumBoldItalic.ttf") format("truetype");
	font-style: italic;
	font-weight: bold;
}