//Original theme: atelier-cave-light.css

.hljs-comment,
.hljs-quote {
	color: lighten($color-gray, 15%);
}

/* Atelier-Cave Red */
.hljs-variable,
.hljs-template-variable,
.hljs-attribute,
.hljs-tag,
.hljs-name,
.hljs-regexp,
.hljs-link,
.hljs-name,
.hljs-name,
.hljs-selector-id,
.hljs-selector-class {
	color: #be4678;
}

/* Atelier-Cave Orange */
.hljs-number,
.hljs-meta,
.hljs-built_in,
.hljs-builtin-name,
.hljs-literal,
.hljs-type,
.hljs-params {
	color: #aa573c;
}

/* Atelier-Cave Green */
.hljs-string,
.hljs-symbol,
.hljs-bullet {
	color: #2a9292;
}

/* Atelier-Cave Blue */
.hljs-title,
.hljs-section {
	color: #576ddb;
}

/* Atelier-Cave Purple */
.hljs-keyword,
.hljs-selector-tag {
	color: #955ae7;
}

.hljs-deletion,
.hljs-addition {
	color: #19171c;
	display: inline-block;
	width: 100%;
}

.hljs-deletion {
	background-color: #be4678;
}

.hljs-addition {
	background-color: #2a9292;
}

pre .hljs {
	display: block;
	overflow-x: auto;
	color: $color-main;
	padding: 20px 30px;
	max-height: 70vh;
	border-left: 4px solid lighten($color-main, 30%);
	background: lighten($color-gray, 44%);
}

.hljs-emphasis {
	font-style: italic;
}

.hljs-strong {
	font-weight: bold;
}
