@font-face {
	font-family: 'fontawesome';
	src: url($path + 'fonts/fontawesome-webfont.eot?v=4.7.0');
	src: url($path + 'fonts/fontawesome-webfont.eot?#iefix&v=4.7.0') format('embedded-opentype'),
	url($path + 'fonts/fontawesome-webfont.woff2?v=4.7.0') format('woff2'),
	url($path + 'fonts/fontawesome-webfont.woff?v=4.7.0') format('woff'),
	url($path + 'fonts/fontawesome-webfont.ttf?v=4.7.0') format('truetype'),
	url($path + 'fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'support';
	src: url($path + 'fonts/support/support.eot?35911331');
	src: url($path + 'fonts/support/support.eot?#iefix&v=4.7.0') format('embedded-opentype'),
	url($path + 'fonts/support/support.woff?35911331') format('woff'),
	url($path + 'fonts/support/support.ttf?35911331') format('truetype'),
	url($path + 'fonts/support/support.svg?35911331#support') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Days';
	src: url($path + 'fonts/Days.ttf');
}

@font-face {
	font-family: 'rub';
	src: url($path + 'fonts/RUBSN.otf');
}

@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&subset=cyrillic');