.accord {

	&__head {
		padding: 15px;
		outline: none;
		cursor: pointer;
	}

	&__title {
		margin: 0 0 10px;
	}

	&__desc {
		margin: 0 0 10px;

		&:last-child {
			margin: 0;
		}
	}

	&__body {
		padding: 15px;
	}

	&__radio-wrap {
		margin-bottom: 15px;
	}

	&__radio {
		display: none;

		&:checked + label {

			&::before {
				background: $red;
				border-color: $red;
			}
		}
	}

	&__label {
		display: block;
		padding-left: 5em;
		position: relative;
		cursor: pointer;

		&::before {
			content: '';
			display: block;
			width: 13px;
			height: 13px;
			position: absolute;
			left: 0;
			border: 2px solid $color-main;
			border-radius: 50%;
			transition: $duration / 2 ease;
		}

		&:hover {

			&::before {
				border-color: $red;
			}
		}
	}

	&__sub-title {
		display: block;
		font-weight: 500;
		margin: 0;
	}

	&__sub-desc {
		display: block;
		margin: 0 0 10px;

		&:last-child {
			margin: 0;
		}
	}
}