.accord {

	&__num {
		position: absolute;
		left: -2em;
		font-family: $font-days;
		font-size: 48px;
		line-height: 0;
		color: $color-main;
		opacity: .5;
		transform: scaleY(1.2);
		pointer-events: none;

		@include screen-sm() {
			display: none;
		}
	}

	&__panel {
		position: relative;
		margin: 0 0 30px 5em;

		@include screen-sm() {
			margin-left: 0;
		}

		&::before,
		&::after {
			content: '';
			display: block;
			position: absolute;
			transition: $duration / 2 ease;
			z-index: -1;
		}

		&::before {
			width: 20px;
			height: 20px;
			top: 0;
			left: 0;
			border: 3px solid $color-main;
			border-radius: 50%;
		}

		&::after {
			width: 2px;
			top: 20px;
			left: 9px;
			bottom: -30px;
			background: repeating-linear-gradient(to bottom, transparent, transparent 1px, $color-main 1px, $color-main 4px);
		}

		&:hover {

			&::before {
				border-color: $red;
			}

			.accord {
				// =====

				&__title {
					color: $red;
				}
			}
		}

		&:last-child {

			&::after {
				display: none;
			}
		}

		&_opened {

			&::before {
				background: $red;
				border-color: $red;
			}

			&::after {
				background: linear-gradient(to bottom, $red, transparent), repeating-linear-gradient(to bottom, transparent, transparent 1px, $color-main 1px, $color-main 4px);
			}
		}

		&_opened-full {

			&::before {
				background: $red;
				border-color: $red;
			}

			&::after {
				background: $red;
			}
		}
	}

	&__head {
		padding: 0 15px 0 4em;
		outline: none;
		cursor: pointer;

		@include screen-sm() {
			padding: 0 0 0 35px;
		}
	}

	&__title {
		margin: 0 0 10px;
		font-weight: 500;
		transition: $duration / 2 ease;
	}

	&__desc {
		margin: 0 0 10px;
		line-height: 1.4;

		&:last-child {
			margin: 0;
		}
	}

	&__body {
		padding: 37px 15px 8px 4em;
		display: none;

		@include screen-sm() {
			padding: 37px 0 8px 35px;
		}
	}

	&__radio-wrap {

	}

	&__radio {
		display: none;

		&:checked + label {

			&::before {
				background: $red;
				border-color: $red;
			}
		}
	}

	&__label {
		display: block;
		padding: 7px 0 7px 4em;
		position: relative;
		cursor: pointer;

		@include screen-sm() {
			padding-left: 35px;
		}

		&::before {
			content: '';
			display: block;
			width: 14px;
			height: 14px;
			position: absolute;
			left: 0;
			top: 9px;
			border: 2px solid $color-main;
			border-radius: 50%;
			transition: $duration / 2 ease;
		}

		&:hover {

			&::before {
				border-color: $red;
			}

			.accord {
				// =====

				&__sub-title {
					color: $red;
				}
			}
		}
	}

	&__sub-title {
		display: block;
		font-weight: 500;
		margin: 0;
		transition: $duration / 2 ease;
		line-height: 1.4;
	}

	&__sub-desc {
		display: block;
		margin: 0 0 10px;
		line-height: 1.4;

		&:last-child {
			margin: 0;
		}
	}
}