.accord {

	&__num {
		position: absolute;
		left: -2em;
		font-family: $font-days;
		font-size: 48px;
		line-height: 0;
		color: $color-main;
		opacity: .5;
		transform: scaleY(1.2);
		user-select: none;
		cursor: default;

		@include screen-sm() {
			display: none;
		}
	}

	&__panel {
		position: relative;
		margin: 0 0 30px 5em;

		@include screen-sm() {
			margin-left: 0;
		}

		&::before,
		&::after {
			content: '';
			display: block;
			position: absolute;
			transition: $duration / 2 ease;
			z-index: -1;
		}

		&::before {
			width: 20px;
			height: 20px;
			top: 0;
			left: 0;
			border: 3px solid $color-main;
			border-radius: 50%;
		}

		&::after {
			width: 2px;
			top: 20px;
			left: 9px;
			bottom: -30px;
			background: repeating-linear-gradient(to bottom, transparent, transparent 1px, $color-main 1px, $color-main 4px);
		}

		&:hover {

			&::before {
				border-color: $red;
			}

			.accord {
				// =====

				&__title {
					color: $red;
				}
			}
		}

		&:last-child {

			&::after {
				display: none;
			}
		}

		&_opened,
		&_opened-full {

			&::before {
				background: $red;
				border-color: $red;
			}

			.accord {
				// =====

				&__title {

					&::after {
						transform: rotate(180deg);
					}
				}
			}
		}

		&_opened {

			&::after {
				background: linear-gradient(to bottom, $red, transparent), repeating-linear-gradient(to bottom, transparent, transparent 1px, $color-main 1px, $color-main 4px);
			}
		}

		&_opened-full {

			&::after {
				background: $red;
			}
		}
	}

	&__head {
		padding: 0 15px 0 4em;
		outline: none;
		cursor: pointer;

		@include screen-sm() {
			padding: 0 0 0 35px;
		}
	}

	&__title {
		margin: 0;
		font-weight: 500;
		font-size: 1.8rem;
		transition: $duration / 2 ease color;
		position: relative;
		padding: 0 1em 10px 0;

		&::after {
			content: '\f107';
			font-family: $font-fa;
			display: inline-block;
			transition: $duration / 5 ease transform;
			position: absolute;
			right: 0;
			top: 0;
			line-height: 1.3;
			font-weight: bold;
			width: 1em;
			text-align: center;
		}
	}

	&__desc {
		margin: 0 0 5px;
		line-height: 1.4;
		font-size: 1.6rem;

		&:last-child {
			margin: 0;
		}
	}

	&__body {
		padding: 37px 15px 8px 4em;
		display: none;

		@include screen-sm() {
			padding: 37px 0 8px 35px;
		}
	}

	&__radio-wrap {

		&:last-child {

			.accord__runner {
				margin-bottom: 0;
			}
		}
	}

	&__radio {
		display: none;

		&[type="checkbox"] {

			+ label {

				&::before {
					content: '\2714';
					line-height: 0.2;
					background: white;
					border-radius: 3px;
					color: transparent;
					font-size: 20px;
				}
			}
		}

		&_checked {

			&[type="checkbox"] {

				+ label {

					&::before {
						color: $color-main;
					}
				}
			}

			+ label {

				&::before {
					background: $red;
					border-color: $red;
				}
			}
		}
	}

	&__label {
		display: block;
		padding: 7px 0 7px 4em;
		position: relative;
		cursor: pointer;

		@include screen-sm() {
			padding-left: 35px;
		}

		&::before {
			content: '';
			display: block;
			width: 14px;
			height: 14px;
			position: absolute;
			left: 0;
			top: 9px;
			border: 2px solid $color-main;
			border-radius: 50%;
			transition: $duration / 2 ease background, $duration / 2 ease border, $duration / 2 ease;
		}

		&:hover {

			&::before {
				border-color: $red;
			}

			.accord {
				// =====

				&__sub-title {
					color: $red;
				}
			}
		}
	}

	&__sub-title {
		display: block;
		font-weight: 500;
		font-size: 1.6rem;
		margin: 0 0 5px;
		transition: $duration / 2 ease;
		line-height: 1.4;

		&.red {
			white-space: nowrap;
		}
	}

	&__sub-desc {
		display: block;
		margin: 0 0 5px;
		line-height: 1.4;
		font-size: 1.6rem;

		&:last-child {
			margin: 0;
		}
	}

	&__runner {
		margin-left: 4em;
		margin-bottom: 21px;

		@include screen-sm() {
			margin-left: 35px;
		}
	}

	&__list {
		margin: 0;
	}
}