@import url('../../global/variables.scss');
@import url('variables.scss');
@import url('fonts.scss');

::selection {
	background-color: $color-land-gray;
	color: $color-land-dark;
}

.land {
	font-family: $font-land;
	color: $color-land-dark;
	font-size: 22px;
	line-height: 1.3;

	@include screen-lg() {
		font-size: 20px;
	}

	@include screen-md() {
		font-size: 18px;
	}

	@include screen-sm() {
		font-size: 16px;
	}

	&__section {
		position: relative;
		margin-bottom: 4em;

		&_first {
			background: url($path + 'img/landing/kf-elita/bg.jpg') no-repeat 50% 0;
			background-size: 100% auto;
			height: 100vh;
			margin-top: -91px;
			margin-bottom: 4em;

			@include screen-xl() {
				margin-top: -60px;
			}

			@include screen-lg() {
				background-size: cover;
				background-position: 50% 50%;
			}

			&::after {
				content: '';
				position: absolute;
				left: 0;
				right: 0;
				top: 0;
				bottom: 0;
				background: linear-gradient(to bottom, white 0, transparent 40%);
			}
		}
	}

	&__head-wrap {
		z-index: 1;
	}

	&__logo {
		width: 43%;
		margin-top: 20vh;

		@include screen-xs() {
			margin-top: 70px;
		}
	}

	&__main-title {
		position: relative;
		text-transform: uppercase;
		z-index: 1;
		color: white;
		margin: 1em 0;
		font-weight: 700;
		font-size: 44px;
		font-family: $font-land-second;

		@include screen-lg() {
			font-size: 37px;
		}

		@include screen-md() {
			font-size: 30px;
		}

		@include screen-sm() {
			font-size: 25px;
		}

		@include screen-xs() {
			font-size: 20px;
		}

		&::after {
			content: '';
			display: block;
			width: 20px;
			height: 4px;
			margin-top: 10px;
			background-color: $color-land;
		}
	}

	&__right-img {
		position: absolute;
		bottom: 0;
		right: 0;
		height: auto;
		max-width: 50%;
		max-height: 100%;
		padding-top: 90px;

		@include screen-xl() {
			padding-top: 60px;
		}

		@include screen-xs() {
			max-width: 300px;
		}
	}

	&__title-wrap {
		text-align: center;
	}

	&__title {
		font-size: 60px;
		font-weight: 500;
		text-transform: uppercase;
		color: $color-land-dark;
		text-align: center;
		line-height: 1.1;
		font-family: $font-land-third;
		position: relative;
		display: inline-block;
		margin-right: 50px;

		@include screen-lg() {
			font-size: 54px;
		}

		@include screen-md() {
			font-size: 47px;
		}

		@include screen-sm() {
			font-size: 35px;
		}

		@include screen-xs() {
			font-size: 30px;
			margin-right: 30px;
		}

		&::after {
			content: '';
			display: inline-block;
			width: 33px;
			height: 95px;
			background: url($path + 'img/landing/kf-elita/line.png');
			background-size: cover;
			position: absolute;
			top: 50%;
			right: -50px;
			transform: translateY(-50%);

			@include screen-sm() {
				height: 65px;
				right: -40px;
			}

			@include screen-xs() {
				height: 55px;
				right: -30px;
			}
		}
	}

	&__text {
		text-align: justify;
	}

	&__sm-title {
		text-align: center;
		font-size: 30px;
		font-weight: 500;
		line-height: 1.2;

		@include screen-lg() {
			font-size: 27px;
		}

		@include screen-md() {
			font-size: 24px;
		}

		@include screen-sm() {
			font-size: 21px;
		}
	}

	&__list {
		display: inline-block;
		text-align: left;
		margin-bottom: 1.5em;
	}

	&__list-item {
		list-style-type: none;
		line-height: 1.3;
		padding: 3px 0;
		text-align: justify;

		&::before {
			content: '';
			display: inline-block;
			width: 10px;
			height: 10px;
			background: $color-land;
			border-radius: 50%;
			margin-right: 15px;
			vertical-align: middle;
		}
	}

	&__link-wrap {
		font-size: 24px;
		text-align: center;
		margin: 0;

		@include screen-lg() {
			font-size: 22px;
		}

		@include screen-md() {
			font-size: 19px;
		}

		@include screen-sm() {
			font-size: 17px;
		}
	}

	&__link {
		color: $color-land;
		display: inline-block;

		&:hover,
		&:focus {
			border-bottom-color: $color-land;
		}
	}

	&__gray-title {
		color: $color-land-gray;
		font-weight: 500;
		text-transform: uppercase;

		&_fog {
			background: white;
			box-shadow: 0 0 5px 3px white;
		}
	}

	&__example-title {
		font-size: 33px;
		color: $color-land-dark;
		font-weight: 700;
		text-transform: uppercase;
		font-family: $font-land-second;

		@include screen-lg() {
			font-size: 30px;
		}

		@include screen-md() {
			font-size: 26px;
		}

		@include screen-sm() {
			font-size: 23px;
			margin-top: 0;
		}
	}

	&__example-text {
		text-align: justify;
		text-transform: uppercase;
	}

	&__font-name {

		@include screen-sm() {
			margin-top: 0;
		}
	}

	&__rect {
		font-size: 51px;
		text-align: center;
		width: 162px;
		height: 162px;
		line-height: 162px;
		box-shadow: 0 0 7px rgba(black, .2);
		position: relative;
		background: white;
		display: inline-block;
		font-family: $font-land-second;

		@include screen-lg() {
			font-size: 46px;
		}

		@include screen-md() {
			font-size: 41px;
		}

		@include screen-sm() {
			font-size: 36px;
		}

		@include screen-xs() {
			margin-bottom: 1em;
		}

		&_second {
			font-family: $font-land-third;
		}

		&_line_first,
		&_line_second {

			&::before,
			&::after {
				content: '';
				position: absolute;
				width: 1px;
				height: 100px;
				transform-origin: 0 0;

				@include screen-sm() {
					display: none;
				}
			}

			&::before {
				bottom: -100px;
			}

			&::after {
				bottom: -200px;
			}
		}

		&_line_first {

			&::before,
			&::after {
				background: $color-land;
			}

			&::after {
				transform: rotate(-73deg) scaleY(3.9);

				@include screen-lg() {
					transform: rotate(-55deg) scaleY(2.1);
				}

				@include screen-md() {
					transform: rotate(-56deg) scaleY(0.9);
				}
			}
		}

		&_line_second {

			&::before,
			&::after {
				background: $color-land-dark;

				@include screen-md() {
					bottom: auto;
				}
			}

			&::before {

				@include screen-md() {
					left: 0;
					top: 50%;
					transform: rotate(90deg);
					height: 50px;
				}
			}

			&::after {
				transform: rotate(-73deg) scaleY(1);

				@include screen-lg() {
					transform: rotate(0) scaleY(0.2);
				}

				@include screen-md() {
					left: -50px;
					top: 50%;
					transform: rotate(135deg) scaleY(0.7);
				}
			}
		}
	}

	&__rect-sm-img {
		width: 48px;
		height: 48px;
		position: absolute;
		bottom: -24px;
		right: -24px;
	}

	&__rect-img {
		width: 62px;
		height: 62px;
		position: absolute;
		top: 50%;
		left: 50%;
		margin-top: -31px;
		margin-left: -31px;
	}

	&__fog-logo {
		opacity: .03;
		height: 50vh;
		max-width: 100%;
		position: absolute;
		bottom: 0;
		left: 0;
		z-index: -1;
	}

	&__img {
		display: block;
		max-width: 100%;
		margin: 0 auto;

		&_right {
			margin-right: 0;
		}

		&_fog {
			box-shadow: 0 0 7px rgba(black, .2);
		}
	}

	&__abs {
		padding: 0 15px;
		display: inline-block;

		@include screen-xs(min) {
			position: absolute;
		}

		&_1 {

			@include screen-xs(min) {
				left: 0;
			}
		}

		&_2 {

			@include screen-xs(min) {
				left: 260px;
			}

			@include screen-md() {
				left: auto;
				right: 0;
				bottom: 0;
			}
		}
	}
}