$color-land: #de0041;
$color-land-gray: #c0c0c1;
$color-land-dark: #323232;

$font-land: 'Ubuntu', 'Arial', sans-serif;
$font-land-second: 'Museo', 'Arial', sans-serif;
$font-land-third: 'Philosopher', 'Times New Roman', serif;