.tab {
	font-size: 18px;
	text-align: center;

	&__svg-wrap {
		display: inline-block;
		vertical-align: middle;
		margin-right: 15px;

		@include screen-sm(min) {
			display: block;
			margin-right: 0;
			position: absolute;
			bottom: -100px;
			left: 50%;
			transform: translateX(-25px);
		}

	}

	&__icon{
		font-family: "support";
		font-style: normal;
		font-weight: normal;
		speak: none;
		display: block;
		width: 1em;
		font-size: 45px;
		color: inherit;
		text-align: center;
		transition: color .2s ease;

		@include screen-sm(){
			font-size: 35px;
		}
	}


	&__head {
		margin: 0 0 30px;
		position: relative;

		@include screen-sm(min) {
			display: inline-block;
		}
	}

	&__head-i {
		list-style-type: none;
		padding: 0;
		margin: 0;
		display: inline-block;
		text-align: left;

		@include screen-sm(min) {
			text-align: center;
		}
	}

	&__title {

		@include screen-sm(min) {
			position: relative;
			float: left;
			margin-right: 30px;
			margin-bottom: 100px;
		}

		&:hover{
			cursor: pointer;
		}
		&::after {

			@include screen-sm(min) {
				content: '';
				right: -18px;
				width: 6px;
				height: 6px;
				background: $red;
				position: absolute;
				top: 50%;
				margin-top: -3px;
				border-radius: 50%;
			}
		}

		&:last-child {

			@include screen-sm(min) {
				margin-right: 0;
			}

			&::after {

				@include screen-sm(min) {
					display: none;
				}
			}
		}

		&_active{

			.tab {
				//=====

				&__link {
					color: $red;
				}

				&__icon{
					color: $red;
				}
			}
		}
	}

	&__link {
		font-weight: 400;
		transition: $duration ease;
		line-height: 3;
		display: inline-block;

		@include screen-md() {
			font-size: 16px;
		}

		&:hover {
			color: $red;
		}
	}

	&__line-rail {
		display: none;

		@include screen-sm(min) {
			display: block;
			height: 1px;
			margin: 2px 0;
			background: $color-main;
			position: absolute;
			bottom: 95px;
			left: 0;
			right: 0;
		}
	}

	&__line {

		@include screen-sm(min) {
			width: 100px;
			height: 5px;
			background: $red;
			position: relative;
			bottom: 2px;
			left: 0;
			transition: $duration ease;
			float: left;
		}
	}

	&__item {
		display: none;
		line-height: 1.4;
		font-weight: 300;

		@include screen-md() {
			font-size: 16px;
		}

		&_active {
			display: block;
		}
	}

	&_new {

		.tab__line-rail {
			left: 30px;
			right: 30px;
		}
	}
}